:root {
    --accent: #ded3b8;
    --background: #202425;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--background);
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background: var(--accent);
    color: var(--background);
}

p.h1 {
    color: var(--accent);
    margin: 10px;
}

.btn {
    color: var(--background);
    border-width: 1px;
    border-color: var(--background);
    border-radius: 10px;
}

.btn:hover {
    transform: scale(110%);
    transition: all 120ms ease;
    background: var(--background);
    color: var(--accent);
}

.btn.another {
    color: var(--accent);
    border-color: var(--accent);
    margin: 0 0 10px 0;
    width: 29%;
}

.btn.another:hover {
    background: var(--accent);
    color: var(--background);
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

a.item {
    background: var(--accent);
    border-radius: 10px;
    margin: 0 auto 1em auto;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    transition: all 120ms ease;
    color: var(--background);
}

.card1 {
    margin: 10px;
}

a.item:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: all 100ms ease;
}

a.item:hover {
    opacity: 0.75;
}

a.item:hover::before {
    transform: scale(1);
    opacity: 1;
}

a.item img {
    width: 100%;
    height: auto;
    display: block;
}

.grid-sizer, .item {
    width: 32%;
}

@media screen and (max-width: 750px) {
    .grid-sizer, .item {
        width: 45%;
    }
}

@media screen and (max-width: 500px) {
    .grid-sizer, .item {
        width: 90%;
    }
}

div.form-login {
    padding: 20px;
    border-radius: 10px;
    background: var(--accent)
}

input.form-control {
    background-color: var(--accent);
    border: 2px solid var(--background);
}

input.form-control:focus{
    background-color: var(--accent);
    border: 2px solid var(--background);
    outline: none;
}

input.form-control::placeholder {
    color: transparent;
}