{% extends 'main/layout.html' %}

{% block title %}
    Ultimate Web Gallery
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center h1">
        <p class="h1">Галерея</p>
    </div>
    {% if user.is_authenticated %}
        <div class="d-flex justify-content-center">
            <a class="btn another" href="{% url 'art' %}">+</a>
        </div>
    {% endif %}
    <div class="container">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        {% for el in arts %}
        <a href="#" class="item text-decoration-none">
            <img src="{{ el.art.url }}" alt="art" width="350px">
            <div class="card1">
                <h3>{{ el.title }}</h3>
                <p>{{ el.description }}</p>
                <div class="d-flex justify-content-between">
                    <button class="btn">Add to cart</button>
                    <p class="">{{ el.price }} $</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}

